.load-playlist-view
  h3 Load Playlist

  .actions.pull-right
    button.cancel.btn.btn-default
      i.fa.fa-reply

  .saved-playlists
    h4 Saved Playlists

    - transitioned = false

    for playlist in playlists
      if playlist.type == 'prev'
        if transitioned == false
          h4 Recent Playlists
          - transitioned = true

      .saved-playlist
        a.load-playlist(data-name=playlist.name)
          span.name
            = playlist.displayName
          span.description
            = playlist.description
      hr
