if path != '/'
  a.add-folder.btn.btn-default.pull-right(data-path=path)
    i.fa.fa-plus

  a.btn.btn-default.pull-left(href=window.location.hash + '/..')
    | Up

h1(style='text-align:center')= path

.listing
