.playlist-view
  h1 I'm the playlist

  .items
    for item in items
      .item.media
        a.pull-left
          if item.cover
            - coverPath = '/api/get?path='+encodeURIComponent(item.cover.fullPath)
          else
            - coverPath = '/img/no-cover.png'
          img.media-object(width='64px', height='64px', src=coverPath)
        .media-body
          h4.media-heading
            = item.name
