.playlist-view
  h3 Playlist

  .items
    for item in items
      .item.media
        a.pull-left(data-path=item.path, style='cursor:pointer')
          if item.cover
            - coverPath = '/api/get?path='+encodeURIComponent(item.cover.fullPath)
          else
            - coverPath = '/img/no-cover.png'
          img.media-object(width='64px', height='64px', src=coverPath)
        .media-body
          h4.media-heading
            a(data-path=item.path, style='cursor:pointer')
              = item.name
