.playlist-view

  .current-playlist
    h3 Playlist
    .actions.pull-right
      button.load.btn.btn-default
        i.fa.fa-upload
      button.save.btn.btn-default
        i.fa.fa-download
      button.clear.btn.btn-default
        i.fa.fa-times

    .items.list-group
      for item in items
        - active = curPlaying.path == item.path ? 'active' : ''

        a.item.list-group-item(data-path=item.path, class=active)
          .media
            img.media-object.pull-left(width='64px', height='64px', src=item.albumArtUrl)

            .media-body
              h4.media-heading
                = item.name
