.player-view {
  height: 64px;
  line-height: 64px;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  border-left: 1px solid rgba(0,0,0,0.2);

  .fa { font-size: 2em; }

  .track-progress {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #428BCA;
    transition: width 0.25s;
  }

  .album-art {
    position: absolute;
    top: 0;
    left: 0;
    img {
     height: 63px;
   }
  }

  .track-info {
    position: absolute;
    top: 0px;
    left: 80px;
    font-size: 120%;

    .title {
      font-weight: bold;
    }
    .artist {
      margin-left: 5px;
    }
  }

  .meta-actions {
    float: left;
    display: inline-block;
    width: auto;
    margin: 0 0 0 1rem;
    padding: 0;

    .action {
      cursor: pointer;
      font-size: 2.4rem;
      padding: 0.3rem 0.2rem;
      float: left;
      color: rgba(0,0,0,0.3);
      width: 4rem;
      text-align: center;
      transition: all 0.2s;
    }

    .action:hover {
      color: rgba(0,0,0,0.5);
    }
  }

  .player-control {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    width: auto;

    .ctrl-btn {
      float: left;
      height: 100%;
      width: 6rem;
      padding: 1.8rem 0 0 0;
      border-left: 1px solid rgba(0,0,0,0.2);
      cursor: pointer;
      transition: background-color 0.2s;
    }

    .ctrl-btn:hover {
      background-color: #eee;
    }
  }
  .player-control.disabled {
    .ctrl-btn {
      background-color: #eee;
    }
  }
}
