.player-view
  .album-art

  .track-info
    span.title
    span.artist

  .player-control(class=songLoaded ? 'ready' : 'disabled')
    .prev.ctrl-btn
      i.fa.fa-backward
    .play.ctrl-btn
      i.fa.fa-play
    .pause.hide.ctrl-btn
      i.fa.fa-pause
    .next.ctrl-btn
      i.fa.fa-forward

  .track-progress
