.playlist-view

  .current-playlist
    h3 Playlist
    .actions.pull-right
      button.load.btn.btn-default
        i.fa.fa-upload
      button.save.btn.btn-default
        i.fa.fa-download
      button.clear.btn.btn-default
        i.fa.fa-times

    .items
      for item in items
        - playing = curPlaying.path == item.path ? 'playing' : ''

        .item.media(class=playing)

          a.pull-left(data-path=item.path, style='cursor:pointer')
            if item.cover
              - coverPath = '/api/get?path='+encodeURIComponent(item.cover.fullPath)
            else
              - coverPath = '/img/no-cover.png'
            img.media-object(width='64px', height='64px', src=coverPath)

          .media-body
            h4.media-heading
              a(data-path=item.path, style='cursor:pointer')
                = item.name
