.playlist-view, .load-playlist-view {
  position: relative;

  .actions {
    position: absolute;
    top: 0;
    right: 0;
  }

  a.item {
    position: relative;
    cursor: pointer;

    button.remove {
      position: absolute;
      top: 5px;
      right: 5px;
      display: none;
    }

    .media {
      margin: 0;
      img {
        height: 64px;
      }
    }
  }

  a.item:hover {
    button.remove {
      display: block;
    }
  }
}

.load-playlist-view {
  a.load-playlist {
    cursor: pointer;
  }
  .name {
    font-weight: bold;
  }
  .description {
    font-size: 80%;
  }
}
