.playlist-view

  .current-playlist
    h3 Playlist
    .actions.pull-right
      button.load.btn.btn-default
        i.fa.fa-upload
      button.save.btn.btn-default
        i.fa.fa-download
      button.clear.btn.btn-default
        i.fa.fa-times

    .items.list-group
      for item in items
        - active = curPlaying.path == item.path ? 'active' : ''

        a.item.list-group-item(class=active)
          button.remove.btn.btn-danger.btn-xs(data-path=item.path)
            i.fa.fa-times

          .media(data-path=item.path)
            img.media-object.pull-left(src=item.albumArtUrl)

            .media-body
              h6.media-heading
                = item.name
