.playlist-view, .load-playlist-view {
  position: relative;

  .actions {
    position: absolute;
    top: 0;
    right: 0;
  }

  a.item {
    cursor: pointer;
  }
}

.load-playlist-view {
  a.load-playlist {
    cursor: pointer;
  }
  .name {
    font-weight: bold;
  }
  .description {
    font-size: 80%;
  }
}
