.player.btn-toolbar.pull-left
  .btn-group
    button.btn.btn-inverse.prev
      i.icon-step-backward.icon-white

    if playing
      button.btn.btn-inverse.pause
        i.icon-pause.icon-white
    else
      button.btn.btn-inverse.play
        i.icon-play.icon-white

    button.btn.btn-inverse.clear
      i.icon-remove-sign.icon-white
    button.btn.btn-inverse.next
      i.icon-step-forward.icon-white