.toggles.btn-toolbar.pull-right
  .btn-group
    button.playlist.btn.btn-inverse
      i.icon-list.icon-white

    button.directories.btn.btn-inverse
      i.icon-folder-open.icon-white

    button.files.btn.btn-inverse
      i.icon-file.icon-white