.header
  if active
    button.btn.btn-link.window-collapse
      | Playlist
      i.icon-chevron-down
    
  else
    button.btn.btn-link.window-expand
      | Playlist
      i.icon-chevron-right

if active
  table.table.list
    for item in items
      tr(class=selected === item.cid ? 'info' : '')
        td
          a(data-cid=item.cid, class=item.cid)
            i.icon-remove-circle(data-cid=item.cid)
            = item.get('name').replace(/_/g, ' ')