config/tailgate.json
.sass-cache/
tmp/*
lib/tmp/*
log/*.log
dump/
public/fixtures/*.json
lib/client/*.js
lib/client/**/*.js
!lib/client/vendor/*.js
public/json/*.temp.json
public/css/_*.css
node_modules