.page-header
  h4
    | Playlist

.controls
  i.icon-step-backward
  i.icon-play
  i.icon-pause
  i.icon-step-forward

ul.nav.nav-tabs.nav-stacked
  for item in items
    li
      a
        = item.get('name')