.row
  .span12
    h2
      | Playlist

    .controls
      i.icon-step-backward
      i.icon-play
      i.icon-pause
      i.icon-step-forward

    ul
      for item in items
        li
          = item.get('name')