h4 Playlist

.list
  ul.nav.nav-stacked.nav-list
    for item in items
      li(class=selected === item.cid ? 'active' : '')

        a(data-cid=item.cid, class=item.cid)
          i.icon-remove-circle(data-cid=item.cid)
          = item.get('name').replace(/_/g, ' ')