.controls
  i.icon-step-backward
  i.icon-play
  i.icon-pause
  i.icon-step-forward

.list
  ul.nav.nav-tabs.nav-stacked
    for item in items
      li
        a
          = item.get('name').replace(/_/g, ' ')