.player
  .progress
    .bar
    
  .controls
    i.icon-step-backward
    i.icon-play
    i.icon-pause
    i.icon-remove-sign
    i.icon-step-forward

.list
  ul.nav.nav-stacked.nav-list
    for item in items
      li(class=selected === item.cid ? 'active' : '')
        a(data-cid=item.cid, class=item.cid)
          = item.get('name').replace(/_/g, ' ')