.files    

  if filesActive && (files.length > 0)
    .files-list
      
      .add-all.pull-right
        a.btn
          | Add All

      .controls
        input.search.input-medium(placeholder='search')

        button.btn.sort(data-sort='name')
          i.icon-font
        button.btn.sort(data-sort='created')
          i.icon-calendar

      ul.list
      
        for file in files
        
          if file.get('vote') > 0
            - voteClass = 'upvoted'
          else if file.get('vote') < 0
            - voteClass = 'downvoted'
          else
            - voteClass = ''

          li.file(class=file.get('ext') + ' ' + voteClass )
            
            a.name(href=file.get('url'), data-cid=file.cid)
              = file.get('name').replace(/_/g, ' ')

            span.created
              = file.created()