.files

  .header
    if filesActive
      button.btn.btn-link.window-collapse
        | Files
        i.icon-chevron-down
      
    else
      button.btn.btn-link.window-expand
        | Files
        i.icon-chevron-right

    .add-all.pull-right
      a.btn.btn-small
        | Add All

  if filesActive 

    table.table
      thead
        tr
          th.sort(data-sort-property='name', data-sort-type='files')
            | Name
          th.sort(data-sort-property='ctime', data-sort-type='files')
            | Created
      tbody
        for file in files
          
          if file.get('vote') > 0
            - voteClass = 'upvoted'
          else if file.get('vote') < 0
            - voteClass = 'downvoted'
          else
            - voteClass = ''

          tr.file(class=file.get('ext') + ' ' + voteClass )
            td
              a.name(href=file.get('url'), data-cid=file.cid)

                = file.get('name').replace(/_/g, ' ')
            td
              = file.created()