html {
  padding-top: 10px;
  padding-bottom: 60px; }

button i {
  margin-left: 10px; }

.navbar {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  width: 100%; }
  .navbar .navbar-inner {
    border-radius: 0; }
  .navbar .song-progress {
    height: 2px;
    position: relative;
    bottom: 0;
    background: #1B1B1B; }
    .navbar .song-progress .fill {
      background: #08c;
      width: 30%; }

#app-version {
  position: absolute;
  top: 5px;
  right: 10px;
  color: rgba(0, 0, 0, 0.1); }

.playlist {
  font-size: 80%; }
  .playlist .list {
    text-align: left; }
    .playlist .list li {
      margin: 3px 0; }
    .playlist .list a {
      line-height: 1em;
      cursor: pointer; }
      .playlist .list a i {
        opacity: 0;
        margin-left: -15px;
        margin-top: -1px; }
    .playlist .list a:hover i {
      opacity: 0.7; }
    .playlist .list a:hover i:hover {
      opacity: 1; }
  .playlist .player {
    position: relative;
    margin-left: 0px;
    margin-right: 15px; }
    .playlist .player .controls {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px; }
      .playlist .player .controls i {
        opacity: 0.7;
        margin: 15px;
        margin-top: -2px;
        cursor: pointer; }
      .playlist .player .controls i:hover {
        opacity: 1; }

.directory-view {
  font-size: 85%;
  position: relative; }
  .directory-view th {
    cursor: pointer; }
  .directory-view .buttons {
    position: absolute;
    top: 0px;
    right: 0px; }
    .directory-view .buttons .btn {
      margin: 5px; }
