* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  padding: 10px 10px 60px 10px; }

body {
  background: url(/img/ricepaper2.png); }

#container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }

.table tbody tr.info td {
  background-color: #dbf3ff;
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.8) 0%, #dbf3ff 10%, #dbf3ff 90%, rgba(255, 255, 255, 0.8) 100%); }

.login {
  font-size: 400%;
  text-align: center;
  padding-top: 3em;
  cursor: pointer; }

.navbar {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  width: 100%; }
  .navbar .navbar-inner {
    border-radius: 0; }
  .navbar .song-progress {
    height: 2px;
    position: relative;
    bottom: 0;
    background: #1B1B1B; }
    .navbar .song-progress .fill {
      background: #08c;
      width: 0%;
      height: 2px; }

#app-version {
  position: absolute;
  top: 5px;
  right: 10px;
  color: rgba(0, 0, 0, 0.1);
  pointer-events: none; }

div.playlist {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  font-size: 85%; }
  div.playlist:last-child {
    margin-right: 0; }
  @media screen and (max-width: 481px) {
    div.playlist {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%; }
      div.playlist:last-child {
        margin-right: 0; } }
  div.playlist .header {
    background: rgba(255, 255, 255, 0.5);
    text-align: center; }
    div.playlist .header button {
      color: #999;
      text-shadow: none;
      letter-spacing: 0.1em; }
    div.playlist .header button:hover {
      text-decoration: none; }
  div.playlist a {
    color: #666;
    letter-spacing: 0.1em; }
  div.playlist a:hover {
    text-decoration: none; }
  div.playlist .actions .btn {
    padding: 0; }
  div.playlist table {
    text-align: left; }
    div.playlist table li {
      margin: 3px 0; }
    div.playlist table tr {
      line-height: 1em;
      cursor: pointer; }
      div.playlist table tr i {
        opacity: 0; }
      div.playlist table tr .upvoted .vote-up i {
        opacity: 0.5; }
      div.playlist table tr .downvoted .vote-down i {
        opacity: 0.5; }
    div.playlist table tr:hover {
      background: #eee; }
      div.playlist table tr:hover i {
        opacity: 0.5; }
      div.playlist table tr:hover i:hover {
        opacity: 1; }
  div.playlist .player {
    position: relative;
    margin-left: 0px;
    margin-right: 15px; }
    div.playlist .player .controls {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px; }
      div.playlist .player .controls i {
        opacity: 0.7;
        margin: 15px;
        margin-top: -2px;
        cursor: pointer; }
      div.playlist .player .controls i:hover {
        opacity: 1; }

.directory-view {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  font-size: 85%;
  position: relative; }
  .directory-view:last-child {
    margin-right: 0; }
  @media screen and (max-width: 481px) {
    .directory-view {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%; }
      .directory-view:last-child {
        margin-right: 0; } }
  .directory-view th {
    cursor: pointer; }
  .directory-view .buttons {
    position: absolute;
    top: 0px;
    right: 0px; }
    .directory-view .buttons .btn {
      margin: 5px; }

.directory-list .controls button, .files-list .controls button {
  margin-left: 5px;
  float: right; }
  .directory-list .controls button i, .files-list .controls button i {
    pointer-events: none; }
.directory-list .controls input, .files-list .controls input {
  text-align: center;
  float: left;
  margin-top: 4px; }
.directory-list ul, .files-list ul {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 10px 0; }
  .directory-list ul li, .files-list ul li {
    padding: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #dddddd; }
  .directory-list ul li.upvoted, .files-list ul li.upvoted {
    border-left: 5px solid #22aaee; }
  .directory-list ul .created, .files-list ul .created {
    font-size: 80%;
    margin-left: 10px;
    color: #999; }

.location {
  text-align: center;
  color: #999;
  letter-spacing: 0.1em;
  background: rgba(255, 255, 255, 0.5); }
