<html>
<head>
  <title></title>
  <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
  <link rel="icon" href="/favicon.png">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <script>
    window.onerror = function(err) {
      document.body.innerHTML = JSON.stringify(err) + document.body.innerHTML
    }
  </script>
  <script src='/js/IndexedDBShim.min.js'></script>
  <script src='/browserify.js'></script>
</body>
</html>
