
.container
  .login-view.row

    .form.col-md-4.col-md-offset-4
      if mode == 'request'
        form.step1
          .form-group
            input.email.form-control(type='text', placeholder='email')

          button.request-code.btn.btn-primary(type='submit') Request Code

      if mode == 'enter'
        form.step2
          .form-group
            input.code.form-control(type='text', placeholder='code')

          button.login.btn.btn-primary(type='submit') Login
