.directories
  table.table
    thead
      tr
        th.sort(data-sort-property='name', data-sort-type='directories')
          | Name
        th.sort(data-sort-property='ctime', data-sort-type='directories')
          | Created
    tbody
      for directory in directories
        tr.dir
          td
            a.name(href=directory.get('url'))
              = directory.get('name').replace(/_/g, ' ')
          td
            = directory.created()