.files

  .header
    if filesActive
      button.btn.window-collapse
        i.icon-minus
        | Files
      
    else
      button.btn.window-expand
        i.icon-plus
        | Files

  if filesActive 

    table.table
      thead
        tr
          th.sort(data-sort-property='name', data-sort-type='files')
            | Name
          th.sort(data-sort-property='ctime', data-sort-type='files')
            | Created
      tbody
        for file in files
          tr.file(class=file.get('ext'))
            td
              a.name(href=file.get('url'), data-name=file.get('name'), data-url=file.get('url'))
                = file.get('name').replace(/_/g, ' ')
            td
              = file.created()