.container
  .row
    .page-header
      h2
        = dirName

    p.lead
      = path

  .row
    .directories.span6
      table.table
        thead
          tr
            th
              | Name
            th
              | Created
        tbody
          if upLink
            tr.up
              td(colspan=2)
                a(href=upLink)
                  | Up
          for directory in directories
            tr.dir
              td
                a.name(href=pathToLink(directory.get('path')))
                  = directory.get('name')
              td
                = directory.created()

  
    .files.span6
      table.table
        thead
          tr
            th
              | Name
            th
              | Created
        tbody
          for file in files
            tr.file
              td
                a.name
                  = file.get('name')
              td
                = file.created()