
.row
  .location
    p.small
      = path

    .page-header
      h4
        = dirName

    .buttons
      .add-all.pull-right
        a.btn.btn-small
          | Add All

      if upLink
        .up.pull-right
          a.btn.btn-small(href=upLink)
            | Up One Directory

      
.row

  include directories

  include files