.directory-view {
  font-size: 85%;
  position: relative;

  th {
    cursor: pointer;
  }

  .buttons {
    position: absolute;
    top: 0px;
    right: 0px;

    .btn {
      margin: 5px;
    }
  }
}

tr.upvoted {
  border-left: 5px solid #22aaee;
}

td.created {
  font-size: 80%;
}