.directory-view {
  @include span-columns(6);
  @include media(max-width 481px) {
    @include span-columns(12);
  }

  font-size: 85%;
  position: relative;

  th {
    cursor: pointer;
  }

  div.directories, div.files {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    background: rgba(255,255,255,0.5);
  }

  .nothing {
    text-align: center;
    font-style: italic;
    color: #666;
  }

  .buttons {
    position: absolute;
    top: 0px;
    right: 0px;

    .btn {
      margin: 5px;
    }
  }
}

.directory-list, .files-list {
  .controls {

    button {
      margin-left: 5px;
      float: right;
      i {
        pointer-events: none;
      }
    }
    input {
      text-align: center;
      float: left;
      margin-top: 4px;
    }
  }

  ul {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;

    li {
      padding: 0.5em 0 0.5em 0;
      border-bottom: 1px solid #ddd;
    }

    li.upvoted {
      border-left: 5px solid #22aaee;
    }

    .created {
      font-size: 80%;
      margin-left: 10px;
      color: #999;
    }
  }
}

