.playlist {
  font-size: 80%;
  // text-align: center;
  
  .list {
    text-align: left;
    li {
      margin: 3px 0;
    }
    a {
      line-height: 1em;
      cursor: pointer;
      i {
        opacity: 0;
        margin-left: -15px;
        margin-top: -1px;
      }
    }
    a:hover {
      i {
        opacity: 0.7;
      }
      i:hover {
        opacity: 1;
      }
    }

  }

  .player {
    position: relative;
    margin-left: 0px;
    margin-right: 15px;

    .controls {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      margin: 0 auto;
      margin-bottom: 10px;
      
      i {
        opacity: 0.7;
        margin: 15px;
        margin-top: -2px;
        cursor: pointer;
      }
      i:hover {
        opacity: 1;
      }
    }
  }
  
}