.playlist {
  .header {
    background: rgba(255,255,255,0.5);
    text-align: center;
    button {
      color: #999;
      text-shadow: none;
      letter-spacing: 0.1em;
    }
    button:hover {
      text-decoration: none;
    }
  }

  font-size: 85%;

  a {
    color: #666;
    letter-spacing: 0.1em;
    // font-weight: bold;
  }
  a:hover {
    text-decoration: none;
  }

  .actions {
    // float: left;
    .btn {
      padding: 0;
    }
  }
  
  table {
    text-align: left;
    li {
      margin: 3px 0;
    }
    tr {
      line-height: 1em;
      cursor: pointer;
      i {
        opacity: 0;
      }
      .upvoted {
        .vote-up {
          i {
            opacity: 0.5;
          }
        }
      }
      .downvoted {
        .vote-down {
          i {
            opacity: 0.5;
          }
        }
      }
    }
    tr:hover {
      background: #eee;
      i {
        opacity: 0.5;
      }
      i:hover {
        opacity: 1;
      }
    }

  }

  .player {
    position: relative;
    margin-left: 0px;
    margin-right: 15px;

    .controls {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      margin: 0 auto;
      margin-bottom: 10px;
      
      i {
        opacity: 0.7;
        margin: 15px;
        margin-top: -2px;
        cursor: pointer;
      }
      i:hover {
        opacity: 1;
      }

    }
  }
  
}