div.playlist {
  @include span-columns(6);
  @include media(max-width 481px) {
    @include span-columns(12);
  }

  font-size: 85%;

  .header {
    text-align: center;
    color: #999;
    letter-spacing: 0.1em;
    background: rgba(255,255,255,0.5);
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    
    button {
      color: #666;
      text-shadow: none;
      letter-spacing: 0.1em;
    }

    button:hover {
      text-decoration: none;
    }
  }

  .header.hidden {
    border: 1px dashed #ddd;
    font-style: italic;
    color: #aaa;
    opacity: 0.5;
  }

  .nothing {
    padding: 10px 0;
  }

  a {
    color: #666;
    letter-spacing: 0.1em;
    // font-weight: bold;
  }
  a:hover {
    text-decoration: none;
  }

  .actions {
    // float: left;
    .btn {
      padding: 0;
      margin-left: 10px;
    }
  }
  
  table {
    text-align: left;
    li {
      margin: 3px 0;
    }

    td {
      border-top: none;
      border-bottom: 1px solid #ddd;
    }

    tr {
      line-height: 1em;
      cursor: pointer;
      i {
        opacity: 0;
      }
      .upvoted {
        .vote-up {
          i {
            opacity: 0.5;
          }
        }
      }
      .downvoted {
        .vote-down {
          i {
            opacity: 0.5;
          }
        }
      }
    }
    tr:hover {
      background: #eee;
      i {
        opacity: 0.5;
      }
      i:hover {
        opacity: 1;
      }
    }

  }

  .player {
    position: relative;
    margin-left: 0px;
    margin-right: 15px;

    .controls {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      margin: 0 auto;
      margin-bottom: 10px;
      
      i {
        opacity: 0.7;
        margin: 15px;
        margin-top: -2px;
        cursor: pointer;
      }
      i:hover {
        opacity: 1;
      }

    }
  }
  
}