.navbar.affix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .navbar-inner {
    border-radius: 0;
  }

  .song-progress {
    height: 2px;
    width: 30%;
    position: relative;
    bottom: 0;
    background: #08c;
  }
}