.navbar {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;

  margin-bottom: 0;

  width: 100%;
  

  .navbar-inner {
    border-radius: 0;
  }

  .song-progress {
    height: 2px;
    position: relative;
    bottom: 0;
    background: #1B1B1B;
    .fill {
      background: #08c;
      width: 30%;
    }
  }
}